# Auto-request reviews for all pull requests.
# Add/remove GitHub users or teams (with write access) as your reviewer group grows.
* @SoumyaRaikwar @rishabh998186

# ADR files can have a focused reviewer set if needed.
/docs/adr/* @SoumyaRaikwar @rishabh998186
